/*----aside---*/
aside{
  display: none;
}

/*----nav----*/
#nav-items {
   display: none;
   margin-top: 50%;
}
#nav-items a {
    display: flex;
   font-size: 80%;
    width: 100%;
  }
  #hamburger {
    display: inline-block;
    padding: 2%;
    font-size: 200%;
    font-weight: bold;
    cursor:pointer;
    color: rgb(233, 174, 241);
  }
  nav input:checked ~ #nav-items {
    display:block;
  }
  header{
    background-color:#441a44 ;
  }

/*-----------inicio----*/  
#inicio{
  margin:-5%;
  height: 100vh;
  padding-top: 1%;
  padding-left: 12%;
}

.texto{
  padding-top: 60%;
 padding-right: 25%;

}
#ilus{
  display: none;

}
.contenidop {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  padding-right: 200%;
}
#movil { 
  display: block;

 
img{
  width: 400%;
  
} }  
 
.des{
font-size: 50%;
}

/*---acerca de mi */

/*---habilidades--*/
#acerca-de-mi{
  margin: 0 auto;
  height: 170vh; 
  text-align: center;
}
    