/*----aside---*/
aside{
  display: none;
}
/*aside{
    position:block;
    background-color: #f68fff27;
    border-radius: 50%;
    margin: 5px;
    padding: 2px;
  
    
}
aside a{  
    margin: auto;
    padding: 10px;
    font-size: 17px;
    color: hsl(303, 60%, 71%);
    font-family: 'Courier New', Courier, monospace;
}*/
/*----nav----*/
#nav-items {
   display: none;
   margin-top: 150px;
}
#nav-items a {
    display: flex;
   font-size: 80%;
    width: 100%;
  }
  #hamburger {
    display: inline-block;
    padding: 20px;
    font-size: 200%;
    font-weight: bold;
    cursor:pointer;
    color: rgb(233, 174, 241);
  }
  nav input:checked ~ #nav-items {
    display:block;
  }
  header{
    background-color:#441a44 ;
  }
/*-----------inicio----*/  
#inicio{
  max-width: 500px;
  margin: 0 auto;
  height: 90vh;
  padding-top: 0px;
}
img{
  display: none;

}
.des{
font-size: 10px;
}

/*---acerca de mi */

/*---habilidades--*/
#acerca-de-mi{
  max-width: 500px;
    margin: 0 auto;
  height: 170vh; 
  text-align: center;
}
    