/*----aside---*/
aside{
  display: none;
}

/*----nav----*/
#nav-items {
   display: none;
   margin-top: 50%;
}
#nav-items a {
    display: flex;
   font-size: 80%;
    width: 100%;
  }
  #hamburger {
    display: inline-block;
    padding: 2%;
    font-size: 300%;
    font-weight: bold;
    cursor:pointer;
    color: rgb(233, 174, 241);
    

  }
  nav input:checked ~ #nav-items {
    display:block;
  }
  header{
    background-color:#441a44 ;
    padding-top: 1rem;
  }

/*-----------inicio----*/  
#inicio{
  margin:1rem;
  padding-top: 15%;
  padding-left: 1rem;
}
.texto{
 max-width: 70rem;
}
.contenidop{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
#ilus{
  display: none;

}
h2{
  margin-top: 0.5rem;
}
#movil { 
  display: flex;
  justify-content: center;
  flex-direction: column;

 
img{
  width: 25rem;
  
} }  
 
.des{
font-size: 50%;
}

/*---habilidades--*/
#acerca-de-mi{
  margin: 0 auto;
; 
  text-align: center;
}
.row{
  display: flex;
  flex-direction: column;
 
}
    