body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #441a44;
  
}
section {
    padding: 1rem;
}
h2 {
    color: #e28ade;
}
aside{
    position:fixed;
    background-color: #f68fff27;
    border-radius: 50%;
    margin: 0.2%;
    padding: 1%;
    margin-top:10rem;
}
aside a{  
    margin: auto;
    padding: 1%;
    font-size: 2rem;
    color: hsl(303, 60%, 71%);
}
.barralateral{
    padding: 10%;
}
/*----------------Barra y logo --------------------*/
header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 1rem;
    background-color: #330930;;
    padding: 1.5%;
}
#hamburger, #hamburger-input {
    display: none;
  }  
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1%;
}
header h1 {
    margin: 0;
    margin-left: 1%; 
    color: #e28ade;
}
.menu {
    display: flex;
    list-style: none;
    margin-right: 1rem;
    padding: 1rem;  
}
.menu li {
    margin-left: 2.5rem; 
}
 nav a {
    display: flex;
     justify-content: flex-end;
     font-family: 'Courier New', Courier, monospace;
     font-size: 1.3rem;
     color: #e28ade;
     text-decoration: none;
     margin: 0.5rem ;
     font-weight: bold;
     transition: color 0.3s ease;
 }

 nav a:hover {
     color: #41033d;
 }
 a {
    text-decoration: none;
    }
nav a.active {
    color: #59255f;   
    }
a:hover {
    text-decoration: underline;
    }

/*---------------------inicio------------------*/
#inicio {
    display: flex;
    text-align: center;
    padding-top: 10rem;
    padding-left: 20rem; 
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 1rem;
}

#ordenador { 
    display: block;
  img{
    width: 70%;
    
  } }

#movil{
    display:none;
}
.contenidop {
    display: flex;
    justify-content: space-between;
    width: 100%; 
}
.texto {
    max-width: 70%; 

}
#inicio h2 {
    font-size: 5rem; 
    margin-bottom: 2rem;
}
#inicio p {
    font-size: 1.5rem; 
    color: #ba60c2;
}

.boton-descarga {
    display: inline-block;
    padding: 1rem 2rem;
    border: 0.5rem solid #44042f; 
    color: #c96db2; 
    text-decoration: none;
    font-weight: bold;
    transition: border-color 0.3s ease-in-out;
}

.boton-descarga:hover {
    border-color: #943b79; 
}
span{
    font-size: 6rem;
    color: #b1e7b4;
    -webkit-text-stroke-width: 0.3rem; 
    -webkit-text-stroke-color: rgb(4, 67, 11);
    
} 
/*---------------acerca de mi --------------------*/
.row {
    display: -webkit-flex;
    display: flex;
    flex-wrap:wrap;
  
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
   
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
#acerca-de-mi{
    display: flex;
    text-align: left;
    padding-top: 10%;
    padding-left: auto; 
    flex-direction: column;
    justify-content: auto;
    margin-top: 1%;
    margin-left: 8rem;
    margin-bottom: 50rem;
}

.contenedor {
    text-align: left;
  
}
.contenedorizquierda {
    text-align: left;
}
#contenidoPerfil{
    color: #ba60c2;
    text-align: left;
    margin-right: 50%; 

}
#contenidoEstudios{
    color: #ba60c2;
    text-align: left;
    margin-right: 50%; 

}
.presentaciones ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  
}
.presentaciones li {
    margin-right: 2rem; 

}
.contenido {
    display: none;
}
.contenido.activo {
    display: block;
  
}

/*----------------HABILIDADES-------------*/
/*ul {
   
    list-style-type: none;
    padding: 0;
    
}*/

#listadeestudios{
    
    list-style-type: none;
    padding: 1rem;
    margin-bottom: 1rem;
    
}

#habilidades ul {
    list-style-type: none;
    padding: 0rem;
    text-align: left;
    margin-right: 50%; 
    
}

#habilidades li {
    margin-bottom: 2rem;
    color: #ba60c2;
    text-align: left;
    margin-right: 50%; 
  
}

.habilidad {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-right: 50%; 
    margin-top: 1rem;
}

.nombre-habilidad {
    flex: 1;
    margin-right: 1rem;
    color: #ba60c2;

}

.barra {
    flex: 2;
    height: 1.5rem;
    background-color: #dbbaee;
    border-radius: 1rem;
    overflow: hidden;
    
}

.nivel {
    height: 100%;
    border-radius: 4rem;
    background-color: #bc53caa9;
    transition: width 0.5s ease;
}
/*--------------Proyectos-------------------*/

#listaproyect {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    flex-wrap:wrap;
    padding: 1rem;
    flex-direction:   row;

    margin-top: 1rem;
    margin-left:5rem;
    margin-bottom: 10rem;
    margin-right: 5rem;
}
li {
    list-style: none;
    margin-bottom: 1rem; 
   color: #ba60c2;

   
}
#proyectos {

    background-color: #441a4400;
    border-radius: 5%;
    padding:1rem;
    text-align: center;
    margin: 1rem;

}
#proyectos li {
    background-color:   #ffdcfc25;
    border-radius: 30%;
    padding: 1rem;
    margin: 1rem;
}
.imagenpro{
width: 50%;
border-radius: 20%;

}

/*----------CONTACTO----------*/
  form {
    max-width: 25%;
    margin: 0 auto;
  }
  label, input {
    display: block;
    margin-bottom: 0.5rem;
   color:  #e28ade;
  }
  input, textarea {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }
  button {
    background-color: #ba60c2;
    color: white;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 5%;
    cursor: pointer;
  }
  button:hover {
    background-color: #eb74db;
  }

  #contacto {
  color:  #e28ade;
    border-radius: 8rem;
    padding: 1rem;
   
}

footer {
    background-color: #691d74;
    color: #fff;
    text-align: center;
    padding: 1rem;
}